<div class="card">
    <div class="card-header">
        <h1 style="text-align:center">
            {{ title }}
        </h1>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" *ngIf="events$ && events$.length">
            <thead>
                <tr>
                    <th class="small-column">
                        Event
                    </th>
                    <th class="wide-column">
                        Description
                    </th>
                    <th class="small-column">
                        Start Date
                    </th>
                    <th class="small-column">
                        End Date
                    </th>
                    <th class="small-column">
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events$">
                    <td>
                        <a [routerLink]="['/event-edit', event.calendarItemId]" title="Edit {{event.calendarItemTitle}}">
                            {{event.calendarItemTitle}}
                        </a>
                    </td>
                    <td>
                        {{event.calendarItemDescription}}
                    </td>
                    <td>
                        {{ event.calendarItemStartDate | UTCStringToDateString }}
                    </td>
                    <td>
                        {{ event.calendarItemEndDate | UTCStringToDateString  }}
                    </td>
                    <td>
                        <button class="btn btn-danger"
                            (click)="deleteEvent(event.calendarItemId)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <div class="row">
            <button class="btn btn-outline-primary"
                    (click)="eventAdd()"
                    style="width:80px">
                New
            </button>
        </div>
    </div>
</div>
