<div class="card">
    <div class="card-header">
        <h1 style="text-align:center">
            {{ title }}
        </h1>
    </div>
    <div class="table-responsive">
        <table class="table table-striped" *ngIf="events && events.length">
            <thead>
                <tr>
                    <th>
                        Event
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        End Date
                    </th>
                    <th>
                        Delete
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let event of events">
                    <td>
                        <a [routerLink]="['/event-edit', event.appEventId]" title="Edit {{event.appEventTitle}}">
                            {{event.appEventTitle}}
                        </a>
                    </td>
                    <td>
                        {{event.appEventDescription}}
                    </td>
                    <td>
                        {{ event.appEventStartDate }}
                    </td>
                    <td>
                        {{ event.appEventEndDate }}
                    </td>
                    <td>
                        <button class="btn btn-danger"
                            (click)="deleteEvent(event.appEventId)">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
