<div class="container">
    <div style="text-align:center">
        <h1>
            {{event.appEventTitle}}
        </h1>
    </div>
    <div class='card-body'>
        <div class='row'>
            <div class='col-md-12'>
                <div class='row'>
                    <div class='col-md-6'>Event:</div>
                    <div class='col-md-6'>{{event.appEventTitle}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>Description:</div>
                    <div class='col-md-6'>{{event.appEventDescription}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>Start Date:</div>
                    <div class='col-md-6'>{{event.appEventStartDate | date: 'short'}}</div>
                </div>
                <div class='row'>
                    <div class='col-md-6'>End Date:</div>
                    <div class='col-md-6'>{{event.appEventEndDate | date: 'short'}}</div>
                </div>
            </div>
        </div>
    </div>
</div>